body {
    display: flex;
    align-items: center;
    background: #09094b;
    justify-content: center ;
    height: 90vh;
}

h1{
    color: white;
    margin  : 0px 260px;
    padding: 40px 0px;
}

.btn{
    margin: 30px 80px;
    padding: 7px 5px;
    border: 0;
    border-radius: 20px;
    font-size: 20px ;
    background-color: rgb(216, 167, 103);
}

#on:hover{
    background-color: green;
    transition: 0.5s;
    color: white;
}

#off:hover{
    background-color: red;
    transition: 0.5s;
    color: white;
}